body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1{
    color: #F59E0B;
}
.input-label{
    font-size: 30px; 
    padding: 1rem;
    margin: auto;  
}
input{
    font-size: 30px;
    display: block;
    margin: 1rem auto 1rem auto;
    padding: 0.5rem;
    border: 3px solid #F59E0B;
    outline: #F59E0B;
    border-radius: 1rem;
}
#submit-btn{
    font-size: 25px;
    background-color: #F59E0B;
    color: white;
    border-radius: 1rem;
    outline: #F59E0B;
    border: 2px solid  #F59E0B;
    padding: 1rem;
}
#output-box{
    color: #F59E0B;
    font-size: 30px;
}